  
  table {
    width: 100%;
  }

  .classRow{
    background-color: #fff; 
    border: 66px #cccccc ;
    color: #333;
    font-size: 13pt
      }
   .classRow:hover{
    background-color: #fafafa;
   }
  
   tr.mat-header-row{
    display: none;
   }

    .classtitle{
    color: #999;
    }
    
  .mat-row:hover {
    background-color: #fafafa;
    cursor: pointer;
  }
  .mat-row mat-icon {
    display: none;
  }
  .mat-row:hover mat-icon {
   display: block;
  }