<div class="example-container mat-elevation-z8">
    <table mat-table [dataSource]="lData">

        <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element" (click)="gotoPage(element)">
                <div *ngIf="element.story_title!=null ; else elseDiv" class="classRow">
                    {{element.story_title}} <span class="classtitle">{{element.author}}</span>
                </div>
                <ng-template #elseDiv>
                    <div class="classRow">{{element.title}} <span class="classtitle">{{element.author}}</span>
                    </div>
                </ng-template>
            </td>
        </ng-container>

        <ng-container matColumnDef="created_at">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
                {{element.created_at | date:'HH:mm'}}
            </td>
        </ng-container>
        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
                <a mat-button color="primary" routerLink="." (click)="removeElement(element)">
                    <mat-icon>delete</mat-icon>
                </a>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"  ></tr>
    </table>
</div>